* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  background: url(img/landing-page.jpeg) no-repeat center;
  margin: 0;
  background-size: 100%;
  background-attachment: fixed;
}
/* HEADER*/
h1 {
  text-transform: capitalize;
  text-align: center;
  color: #474646;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-button {
  position: absolute;
  top: 5px;
  left: 11px;
  z-index: 100;
}
div.home-button a {
  color: #474646;
  font-size: 22px;
}
i.fa.fa-home {
  font-size: 30px;
}

/*NAVIGATION BAR */
.nav-1 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.nav-1 a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 36px;
  color: black;
}
.nav-1 a:hover {
  color: #245cc4;
  cursor: pointer;
}
.nav-link {
  display: inline-block;
  height: 36px;
  font-size: 1em;
  width: 20%;
}
/* description-title */
.description-title {
  height: 734px;
  background-size: 100%;
  text-align: center;
}
.main-title {
  text-transform: capitalize;
  color: #474646;
  padding-top: 150px;
  font-size: 40px;
  font-weight: 800;
}
.signup-button {
  border: 1px #474646 solid;
  width: 209px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 11px;
}
.signup-button a {
  text-decoration: none;
  font-size: 30px;
  color: #474646;
  text-transform: capitalize;
}
.signup-button a:hover {
  color: #245cc4;
  text-transform: uppercase;
}
.signup-button:hover {
  border: 1px #245cc2 solid;
}
form.login {
  text-align: center;
}
legend {
  text-align: center;
}
/* LOGIN PAGE  and SIGNUP PAGE*/
.login-screen,
.signup-page-screen {
  text-align: center;
}
fieldset {
  border: none;
}
.login-header {
  /* border-bottom: 1px solid #000; */
  margin-top: 72px;
  font-size: 35px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  text-align: center;
}
.login-header legend {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 180px;
  margin: 10px auto 20px auto;
  font-size: 12px;
  border: 2px solid #245cc4;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
}
input[type="email"],
input[type="password"] {
  -webkit-transition: width 0.4s ease-in-out;
}
input[type="email"],
input[type="password"]:focus {
  width: 45%;
}
label {
  font-size: 18px;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.js-login-button,
.js-signup-button {
  width: 160px;
  padding: 8px;
  background-color: #f2f2f2;
  border: 2px solid #245cc4;
  border-radius: 4px;
  transition: background-color 1s ease;
}
.js-login-button:hover,
.js-signup-button:hover {
  cursor: pointer;
  color: #fff;
  border: 2px solid #000;
  background-color: #245cc4;
}
#notification {
  font-size: 20px;
  color: #e60000;
  margin: 0 10px 0 10px;
}

/* USER DASHBOARD*/
.user-dashboard {
  text-align: center;
}
.dashboard-header {
  border-bottom: 2px solid #000;
  margin-top: 72px;
  font-size: 36px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
}

.entry {
  background-color: #f2f2f2;
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}
.entry a {
  color: black;
  font-size: 38px;
  text-decoration: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.entry-photo a {
  color: black;
}
h4 {
  font-style: italic;
  margin-top: -31px;
  font-size: 23px;
}
ul {
  list-style-type: none;
}

/*ADD/EDIT ENTRY SCREEN */
.edit-journal-entry {
  text-align: center;
}
input#journal-title {
  width: 600px;
  border: none;
  font-size: 22px;
  border-bottom: 1px solid gray;
  margin-bottom: 45px;
}
input#travel-date {
  width: 600px;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 10px;
}
.entry-photo {
  background-color: #f2f2f2;
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
input#journal-description,
input#entry-best-memory,
input#entry-foreign-words {
  width: 600px;
  height: 75px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
}
input#main-image {
  width: 80%;
}
.main-image-a {
  font-size: 16px;
  text-transform: none;
}
.save,
.cancel,
.edit,
.delete {
  width: 99px;
  border: none;
  cursor: pointer;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 21px;
  text-transform: uppercase;
  margin-right: -5px;
  margin-bottom: 20px;
}
.save-delete,
.edit-delete {
  margin-top: -52px;
}
h5 a {
  cursor: pointer;
}

div.entry-description {
  margin-top: 219px;
}
input#morePhotos-0,
input#morePhotos-1,
input#morePhotos-2 {
  display: block;
  margin-bottom: 20px;
  width: 500px;
}
#js-save-button,
#js-cancel-button,
#js-edit-button,
#js-delete-button {
  background-color: white;
}
#js-save-button,
#js-edit-button {
  border-right: 1px solid #e5e5e5;
  border-left: none;
}
#js-cancel-button,
#js-delete-button {
  border-right: none;
}

/* EACH INDIVIDUAL ENTRY */

.journal-entry {
  text-align: center;
}
.entry-title {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 22px;
  font-style: italic;
  margin-top: 58px;
}
.main-photo {
  max-width: 100%;
  /*object-fit: contain;*/
  height: 400px;
}
.main-entry-photo {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  margin-bottom: 15px;
}
.main-entry-description,
.main-best-memory,
.main-foreign-words,
div.more-photos {
  margin-top: 83px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.p-entry {
  text-align: left;
}
h5 {
  text-align: left;
  font-size: 17px;
  font-style: italic;
}
img.more-photos {
  width: 600px;
  margin-bottom: 40px;
}
.plus {
  font-size: 25px;
  font-weight: 800;
}
div.more-photos {
  margin-bottom: 70px;
}

/*List of entries */
.entry-date {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-style: italic;
  margin-top: -31px;
}

div.best-memory,
div.foreign-words {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Back to top */
div.scrolltop {
  margin-top: 17px;
  margin-bottom: 30px;
}

.fa-angle-double-up {
  font-size: 35px !important;
  color: gray;
  position: relative;

  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes blinker {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.7;
  }
}
/* SMALLER SCREENS */
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 25px;
  }
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 160px;
    margin: 10px auto 20px auto;
    font-size: 12px;
    border: 2px solid #245cc4;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 12px 20px;
    box-sizing: border-box;
    outline: none;
  }
  input[type="email"],
  input[type="password"] {
    -webkit-transition: width 0.4s ease-in-out;
  }
  input[type="email"],
  input[type="password"]:focus {
    width: 45%;
  }
  input#journal-title,
  input#travel-date,
  #js-edit-form {
    width: 100%;
    text-align: center;
  }
  input#journal-title,
  input#travel-date {
    width: 50%;
  }
  section.edit-entry {
    margin-top: 112px;
  }
  section.trip-entries h5.entry-title,
  section.each-entry h5.entry-title {
    width: 20%;
  }
  .nav-link {
    border-left: none;
    height: 36px;
    font-size: 1em;
    width: 49%;
  }
  .nav-2 {
    border-right: none;
  }
  .description-title {
    height: 318px;
    background-size: 213%;
  }
  .img-container img {
    width: 93%;
  }
  .main-title {
    padding-top: 28%;
    font-weight: 600;
    text-transform: capitalize;
    color: #474646;
    font-size: 20px;
  }
  .signup-button {
    border: 1px #474646 solid;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 11px;
  }
  .signup-button a {
    text-decoration: none;
    font-size: 18px;
    color: #474646;
    text-transform: capitalize;
  }
  .signup-button a:hover {
    color: #245cc4;
    text-transform: uppercase;
  }
  .signup-button:hover {
    border: 1px #245cc2 solid;
  }
  .login-header {
    margin-top: 26px;
    font-size: 27px;
    margin-bottom: 35px;
  }
  .nav-1 a {
    font-size: 12px;
  }
  .nav-link {
    width: 33.33%;
  }

  /* Dashboard */
  div.dashboard-header {
    text-transform: capitalize;
    margin-top: 35px;
    width: 80%;
    font-size: 20px;
  }
  .trip-entries h4 {
    font-size: 10px;
  }
  div.entry {
    height: 200px;
    width: 90%;
    padding-top: 30px;
    background: none;
  }
  div.entry a {
    font-size: 30px;
  }
  div.entry a:hover {
    color: #245cc4;
  }
  h5.entry-title {
    margin-top: 2px;
  }
  img.main-entry-photo {
    width: 90%;
    height: auto;
    margin-top: 0;
  }
  .trip-entries ul {
    margin-left: -25px;
  }
  #js-save-button,
  #js-cancel-button,
  #js-edit-button,
  #js-delete-button {
    background: none;
  }
  #entry-photo {
    width: 90%;
    height: 262px;
    padding-top: 78px;
  }
  div.entry-title {
    width: 90%;
    font-size: 20px;
    margin-top: 1px;
  }
  div.entry-date {
    width: 90%;
    font-size: 18px;
  }
  div.entry-description {
    margin-top: 99px;
  }
  p.entry-date {
    width: 90%;
  }
  div.main-entry-description,
  div.main-best-memory,
  div.main-foreign-words,
  div.more-photos {
    margin-top: 32px;
    width: 90%;
  }
  div.more-photos img.more-photos {
    width: 90%;
    text-align: center;
  }
  .each-entry div.more-photos {
    width: 90%;
  }
}

/*MEDIUM SIZE SCREENS*/
@media only screen and (min-width: 561px) and (max-width: 900px) {
  div.nav-link {
    width: 35%;
  }
  .description-title {
    height: 424px;
    background-size: 156%;
  }
  h2.main-title {
    padding-top: 121px;
  }
  div.nav-link {
    width: 28%;
  }
}
